@model IEnumerable<GAMF.ViewModels.StudentCreditVM>

@{
    ViewData["Title"] = "Hallgató kreditje";
}

<h2>Hallgatók és krediteiknek száma</h2>

<table class="table">
    <thead>
        <tr>
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Kreditek száma</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Student.FirstName
                    </td>
                    <td>
                        @item.Student.LastName
                    </td>
                    <td>
                        @item.Credits
                    </td>
                </tr>
            }
        }
    </tbody>
</table>